.temperature {
  background-image: url("/src/landscape.png");
  background-size: 130%;
  font-size: 30px;
  color: rgb(179, 1, 4);
}

.windSpeed {
  background-image: url("/src/landscape.png");
  background-size: 130%;
  font-size: 30px;
  color: rgb(179, 1, 4);
}

.windDirection {
  background-image: url("/src/landscape.png");
  background-size: 130%;
  font-size: 25px;
  color: rgb(179, 1, 4);
}
.weatherCode {
  background-image: url("/src/landscape.png");
  background-size: 130%;
  font-size: 30px;
  color: rgb(179, 1, 4);
}
.image {
  width: 100%;
}
.NArrow {
  width: 100%;
}

.NEArrow {
  width: 100%;
  transform: rotate(45deg);
}

.EArrow {
  width: 100%;
  transform: rotate(90deg);
}

.SEArrow {
  width: 100%;
  transform: rotate(135deg);
}

.SArrow {
  width: 100%;
  transform: rotate(180deg);
}

.SWArrow {
  width: 100%;
  transform: rotate(225deg);
}

.WArrow {
  width: 100%;
  transform: rotate(270deg);
}

.NWArrow {
  width: 100%;
  transform: rotate(315deg);
}

.SevenDay{
  background-image: url("/src/landscape.png");
  background-size: 130%;
  color: rgb(19, 1, 179);

}

table.tbl th, table.tbl td {

  padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #468df7 #ccc;

}

table.tbl td {

text-align: right;

}

table.tbl thead th {
padding: 8px;
font-size: 25px;

}

table.tbl th, table.tbl td {
  padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #468df7 ;
}

table.tbl tr{
	font-family: Calibri, Myriad;
}